.create-channel {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

form input:focus, form textarea:focus {
    border-color: #77936f;
    outline: none;
    box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.5);
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #95b38d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background-color: #77936f;
}

label[for="channel_name"]::after {
    content: " *";
    color: red;
    font-weight: bold;
}
