.page {
    display:flex;
    justify-content:center;
    width: 100%;
    gap:5rem;
    padding:3rem;

}
.right-container {
    flex:1;
}
.passage {
    flex:1;
}
.strikethrough {
    text-decoration: line-through;
}

.float {
    position: absolute;
}


mark {
    background-color: hotpink;
    padding: 0;
    margin: 0;
    display: inline;
}
ins {
    padding:5px;
    background-color: skyblue;
    text-decoration: none;

}