
.group-page-header {
    padding: 2% ;
    width: 100% !important;
    margin: 0 auto 3%;
	margin-top: 2%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
	display: flex;
	padding-bottom: 4%;
	margin-bottom: 0px;
}

.group-page-title{
	display: flex;
	justify-content: space-between;
	color: #4A7C25;
	width:100%;
}

#title{
	font-weight: 600 !important;
}

.group-page-title-description-layout{
	display: flex;
	flex-direction: column;
	gap: 15%;
	padding-left: 3%;
}

#content{
	
	display: flex;
	justify-content: center;
	width: 100%;
}