.background{
  background-color: #F0E3D71A;
  /* background-color: #ffffff; */
}

.groups-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .groups-header {
    display: flex;
    justify-content: space-between;
    font-family: 'Radley', sans-serif !important;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .groups-add-button {
    background-color: #F0E3D71A;
    /* background-color: #ffffff; */
    color: #000000;
    border: 3.5px solid #000000;
    border-radius: 7px;/* rounds the corners of the square*/
    width: 40px;
    height: 40px;
    font-size: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .groups-add-button:hover {
    background-color: #A4B5A0;
  }
  
  .groups-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 85px; /* column x row spacing */
    justify-content: center;
    margin-top: 10px;
    max-width: 100%;
  }
  
  .group-card {
    width: 250px;
    height: 320px;
    justify-content: flex-center;
    background-color:#A4B5A0;
    color: white !important;
    border-radius: 4px;
    overflow: hidden;
    align-items: left;
    /* box-shadow: 4px 8px 5px rgba(43, 41, 41, 0.48); */
  }
  
  .group-card-top {
    height: 100px;
    background: black;
  }
  
  .group-card-body {
    padding: 0%;
  }
  
  .group-category {
    color: #ffffff;
    font-size: 14px;
  }
  
  .group-title {
    font-size: 20px;
    background-color: rgba(33, 76, 35, 0.435);
    padding: 3%;
    font-weight: bold;
  }

  .groups-grid a {
    text-decoration: none; /*removes underline from link*/
    color: inherit; 
}

.groups-grid a:hover { /*gets rid of the blue text from </link>*/
    text-decoration: none;
    color: inherit;
    
}

  .group-subtitle {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.878);
    padding: 3%;
  }

  .group-card:hover{
    background-color: #8ba485 !important;
    box-shadow: 8px 12px 10px rgba(43, 41, 41, 0.338) !important;
  }
  