.new-group-page {
    width: 100%;
    border: 2px solid #4A7C25;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


 
#groupname {
    width: 611px;
    height: 40px;
    padding: 10px;
    margin-top: 60px;
    border: 2px solid #4A7C25;
    border-radius: 10px;
    
}

#groupdescription {
    
    border-radius: 10px;
    padding: 10px;

    border: 2px solid #4A7C25;
    width: 1276px;
    height: 400px;
}

.image-box {
    border: 2px solid #4A7C25;
    padding: 10px;
    margin-bottom: 37px;
    width: 320px;
    height: 162px;
}

select {
    border: 2px solid #4A7C25;
    width: 251px;
    height: 40px;
    border-radius: 10px;
    margin-top: 60px;
}

.firstline-container {
    display: flex;
    column-gap: 47px;
   
}


button {
   
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}