.new-group-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.group-form {
    margin-top:12px;
}
 
#groupname {
    width: 730px;
    height: 40px;
    padding: 10px;
    margin-top: 60px;
    border: 2px solid #4A7C25;
    border-radius: 10px;
    
}

#groupdescription {
    
    border-radius: 10px;
    padding: 10px;

    border: 2px solid #4A7C25;
    width: 1276px;
    height: 400px;
}

.image-box {
    border: 2px solid #4A7C25;
    padding: 10px;
    margin-bottom: 37px;
    width: 200px;
    height: 200px;
}

select {
    border: 2px solid #4A7C25;
    width: 251px;
    height: 40px;
    border-radius: 10px;
    margin-top: 60px;
}

.firstline-container {
    display: flex;
    align-items: center;
    column-gap: 47px;
    margin-top: 50px;
   
}

#exit {

    color: black;
    border: none;
    cursor: pointer;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    font-size: 20px;
  



}

#submit {
   
    color: black;
    border: none;
    /* background-color: w; */
    cursor: pointer;
    
    width: 48px;
    height: 48px;
    
    font-size: 20px;
}