/* Profile Page */
.profile-page { 
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}



/* pfp BG */
.pfp-background { 
    position: absolute;
    width: 280px;
    height: 280px;
    left: calc(50% - 280px/2 - 456px);
    top: 202px;
    background: #A4B5A0;
}

/* Image
Keywords: picture
*/
.picture { 
    position: absolute;
    width: 48px;
    height: 48px;
    left: 240px;
    top: 318px;
}

/* Icon */
.icon { 
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;

    border: 4px solid #1E1E1E;
}



/* groups joined container */

.bio-container {
    box-sizing: border-box;

    position: absolute;
    width: 340px;
    height: 280px;
    left: calc(50% - 340px/2 - 464px);
    top: 691px;

    border: 3px solid #4A7C25;
    border-radius: 10px;
} 



/* groups joined container */

.groups-joined-container { 
    box-sizing: border-box;

    position: absolute;
    width: 873px;
    height: 189px;
    left: calc(50% - 873px/2 + 248.5px);
    top: 277px;

    border: 3px solid #4A7C25;
    border-radius: 10px;
}



/* name container */
.name-container {
    box-sizing: border-box;

    position: absolute;
    width: 340px;
    height: 95px;
    left: calc(50% - 340px/2 - 464px);
    top: 523px;

    border: 3px solid #4A7C25;
    border-radius: 10px;
}



/* Groups Joined */

.group-joined-text { 
    position: absolute;
    width: 284px;
    height: 34px;
    left: 484px;
    top: 232px;
    
    font-family: 'Radley';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
}




/* threads-posted-container */

.threads-posted-container { 
    box-sizing: border-box;

    position: absolute;
    width: 873px;
    height: 189px;
    left: calc(50% - 873px/2 + 248.5px);
    top: 523px;
    
    border: 3px solid #4A7C25;
    border-radius: 10px;
}



/* Thread Posted text */

.threads-posted-text { 
    position: absolute;
    width: 278px;
    height: 39px;
    left: 490px;
    top: 484px;
    
    font-family: 'Radley';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
}




/* Recent Comments Container */

.recent-comments-container {
    box-sizing: border-box;

    position: absolute;
    width: 873px;
    height: 189px;
    left: calc(50% - 873px/2 + 248.5px);
    top: 782px;

    border: 3px solid #4A7C25;
    border-radius: 10px;
}

/* Recent Comments text */
.recent-comments-text {
    position: absolute;
    width: 304px;
    height: 47px;
    left: 501px;
    top: 736px;
    
    font-family: 'Radley';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
}





