.page {
	display: flex;
	justify-content:space-between; /* Centers login containers */
	align-items:center; /* Aligns them at the top */
	/* gap: -10px; Adds spacing between containers */

}

.login-container {
    width: 70%;
    margin: 0 auto;
    padding: 6em;
    background-color: #B7C9B2;
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
	overflow: auto;
	  
  }

  .register-container {
    margin: 0 auto;
    padding: 3em;
    background-color: #4A7C25;
    align-content: center;
	align-self: center;
	overflow: auto;
	text-align: center;
  }

  .login-container input:focus{
	background-color: #d0ddcd;
	border: 0px solid #ccc;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.762);
  }

  
  .login-container label {
    display: block;
    /* margin-top: 1em; */

  }
  
  .login-container input {
    width: 30em;
    padding: 0.6em;
    border: 0px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.559);
	background-color: #A4B5A0;
    border-radius: 20px;
	margin-bottom: 20px;
  }

  .my-3 {
    margin-top: 0.5rem !important;
    margin-bottom: 1.5rem !important;
}
  
  .login-container button {
    /* width: 100%;
    padding: 0.5em;
    margin-top: 1em; */
    background-color: #4A7C25;
    color: #fff;
    padding: 0.6em;
    margin-top: 0.5em;
    border: 0px solid #ccc;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.762);
    border-radius: 20px;
	font-weight: 520;
    /* cursor: pointer; */
  }

  .w-100 {
    width: 30em !important;
}
  
  .login-container button:hover {
    background-color:  #486b2d;
  }


  #login-header{
	font-weight: 500;
	font-size: 48px;
	padding-bottom: 20px;
	font-family: 'Radley', sans-serif;
  }
  #login-container h2{
	font-weight: 400;
	font-size: 20px;
	font-family: 'Roboto' ;
  }

  .h2, h2 {
    font-size: 20px;
	margin-bottom: 0;
   }

  form {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Aligns items (including button) to the left */
	gap: 7px;
}


.my_fullscreen_div {
    width: 100%;
    height: 100vh;
}

.container, .container-md, .container-sm {
	max-width: 620em;
	padding: 0;
	margin: 0;
}

#register-header{
	font-size: 45px;
	font-weight: 600;
	color: white;
}


#register-subheader{
	font-size: 30px;
	font-weight: 40;
	color: white;
	padding-top: 0.7em;
}

.sign-up-btn{
	font-size: 20px;
	font-weight: 40;
	color: white;
	padding: 0.6em;
    margin-top: 2em;
    border: 1px solid #ccc;
    border-radius: 60px;
	width: 205px;
	background-color: rgba(127, 255, 212, 0);
}

  
.sign-up-btn:hover {
    background-color:  #e9ffd80d;
  }

  #register-background{
	background-color: #B7C9B2;
	padding: 7%;
	box-shadow: 3px 3px 8px rgba(17, 47, 15, 0.559);
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  #register-page-background{
	background-color: #4A7C25;
  }